<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MAIN STYLE -->
  <link rel="stylesheet" href="css/style.css">

  <!-- AXIOS -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- VUE JS -->
  <script src="https://unpkg.com/vue@3"></script>

  <!-- SCRIPT JS -->
  <script defer src="js/script.js"></script>

  <title>Vue Email List</title>
</head>
<body>

  <div id="app">

    <h1>STAMPO 10 EMAIL TRAMITE API</h1>

    <ul v-if="isLoaded">

      <li 
       v-for="(email, index) in emails"
      >{{index + 1}}: {{email}}</li>

    </ul>
    
    <!-- LOADER -->
    <div
     v-else
     class="lds-ellipsis">
      <div></div><div></div><div></div><div></div>
    </div>

  </div>
  
</body>
</html>